/* SITE HEADER */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.site-header .nav {
    display: flex;
    align-items: center;
}

.site-header .nav li:not(:last-child) {
    margin-right: 32px;       
}

.site-header .nav a {
    text-decoration: none;
    white-space: nowrap;
}

.site-header .nav .button {
    min-width: 0;
    padding: 8px 30px;
}

/* BOUTON */
.button {
    background: #000000;
    border-radius: 5px;
    padding: 20px 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
}



/* CARD PRICING */
.card-pricing{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-pricing .card__img img {
    width: 54px; height: 54px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.card-pricing .card__desc {
    padding: 24px;
    background-color: #fff;
}
.card-pricing .desc__title {
    font-size: 20px;
    margin-bottom: 75px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
    font-weight: 500;
}

.card-pricing .liste_prices {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14;
    font-weight: 400;
    line-height: 34px;
    
}

.button {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
     
}

/* CARD BLOG */
.card-blog .card__img {
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
}

.card-blog .card__img img {
    position: absolute;    
    top: 0 ; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-blog .card__desc {
    padding: 24px;
    background-color: #fff;
}
.card-blog .desc__title {
    font-size: 20px;
    margin-bottom: 75px;
}


/* CARD SQUARE */
.card-square .card__img {
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
}

.card-square .card__img img {
    position: absolute;    
    top: 0 ; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-square .card__desc {
    padding-top: 10px;
    background-color: red;
}

.card-square .desc__title {
    background-color: yellow;
    margin-bottom: 75px;
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
}

.card-square .cta{
    background-color: green;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px

}


/* CARD PRESENTATION */




/* CARD POST */

.post {
    padding-top: 56px;
    background-color: #fff;
    width: 370px; height: 600px;
}


.post .desc__title {
    padding-left: 40px;
    background-color: blue;
    font-size: 56px;
    width: 275px; height: 470px;
    line-height: 68px;

    text-align: left;
    color:black;

}



/*  SLIDER */

#slider {
    background-image: url(../img/slider.png);
    background-size: cover;
    height: 450px;
    width: 100%;
    background-color:#C6403F;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding-right: 600px;
    font-size: 30px;

}




/* PORTFOLIO */

.portfolio{
    background-size: cover;
    height: 250px;
    width: 100%;
    background-color:#776871;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreportfolio {
    font-size: 50px;
    font-family: arial black;
    text-align: center;
    font-weight: 300;
    color: white;
}

.card-presentation {
    align-items: center;
	display:flex;

}

.card-presentation .card__img img {
    width: 500px; height: 500px;
    object-fit: cover;
    object-position: center;
    float: left;
    vertical-align: middle;
    padding-left:50px;
}

.card-presentation .desc__presentation {
float: right;
padding: 50px;
}



/* TIMELINE */

.monparcours{
    background-size: cover;
    height: 250px;
    width: 100%;
    background-color:#776871;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titretimeline {
    font-size: 50px;
    font-family: arial black;
    text-align: center;
    font-weight: 300;
    color: white;
  }

.timeline-container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 .timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 .timeline-block-right {
    float: right;
 }
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #91A8A4;
    margin-top: 10px;
    z-index: 9999
 }
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #776871;
 }
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 .timeline-content span {
    font-size: 15px;
    color: #91A8A4;
 }
 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    text-align: left;
 }
 @media screen and (max-width: 768px) {
    .timeline-container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 


 /* FOOTER 


.footer {
    background-color: yellow;
    display:block;
    margin: 0 auto;
    width: 100%;
    vertical-align: top;
}


.footer-picto {
    background-color:red ;
    align-items: center;
    width:50px;
    margin-right: 5%;
    display: inline-flex;
}

.footer-picto svg {
    width:20px%;
    fill: white;
}

.footer-picto svg:hover {
    fill:#00F0FF;
    transition: 0.5s;
}




#aplat {
    width: 100%;
    height: 300px;
    background-color: #0576A3;
    margin:0px;
}

#space {
    widows: 80%;
    padding-top: 2%;

}
#formulaire{
    width: 50%;
    float: left;
    display: inline-flex;il
}
form {
    margin: 0 auto;
    width: 400px;
    color: white;
}

legend{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées 
    display: block;
    width: 90px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1vh;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    background-color: #E3F4FB;
    border-style: none;
}

input:focus, textarea:focus {
    border-color: #ffffff;
}


.titre-information{
    font-weight: 900;
    color: white;

}

*/
