---
layout: layouts/base.njk
---

{# <div class='collections'>
  <h1 class='collections-title'>Collections</h1>

{% import "components/button.njk" as button %}
{% import "components/card-blog.njk" as cardBlog %}
{% import "components/card-pricing.njk" as cardPricing %}


  {{ button.show('plop') }}
  {{ button.show('see more') }}
  {{ button.show('coucou') }}

  <div class='flex'>
   {{cardBlog.show('titre','See More')}}
   {{cardPricing.show('titre')}}

  </div>
</div> #}


{% import "components/button.njk" as button %}
{% import "components/card-blog.njk" as cardBlog %}
{% import "components/card-pricing.njk" as cardPricing %}
{% import "components/card-square.njk" as cardSquare %}
{% import "components/card-post.njk" as cardPost %}
{% import "components/card-slider.njk" as cardSlider %}
{% import "components/card-presentation.njk" as cardPresentation %}
{% import "components/footer.njk" as footer %}






<div class='flex slider'>
  {{cardSlider.show('The best way to wireframe a website or landing page')}}
</div>

<div class='flex presentation'>
  {{cardPresentation.show('Qui suis-je ?','Hello')}}
  
</div>

<div class='monparcours'>
  <h2 class='titretimeline'>PARCOURS</h2>
</div>

<div class="timeline-container">

  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Community Manager - Quintesens</h3>
      <span>Sept. 2019 - Aujourd'hui</span>
      <p>Gestion des réseaux, gestion des partenariats marques, gestion des partenariats influenceurs, création de vidéo 2D / motion design, gestion du blog, gestion des newsletters, renfort UX Design</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Master Design UX-UI - ECV Digital</h3>
      <span>Sept. 2019 - Juin 2021</span>
      <p>Gestion des réseaux, gestion des partenariats marques, gestion des partenariats influenceurs, création de vidéo 2D / motion design, gestion du blog, gestion des newsletters, renfort UX Design</p>
    </div>
  </div>


  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Assis. webmarketing et ventes - Les passagers aix</h3>
      <span>Sept. 2018 - Sept. 2019</span>
      <p>Community management, UX Design, Web Design, Marketing Digital, Conseil en ventes</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Bachelor Chef de projet digital - ECV Digital</h3>
      <span>Sept. 2018 - Juin 2019</span>
      <p>Gestion des réseaux, gestion des partenariats marques, gestion des partenariats influenceurs, création de vidéo 2D / motion design, gestion du blog, gestion des newsletters, renfort UX Design</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Conseillère en vente - Caroll</h3>
      <span>Mai 2018 - Sept. 2018</span>
      <p>Conseil et relation client, Processus de vente, vente complémentaire ,Merchandising et vitrines, Colis, caisse, réassort, commande client, commande internet, retour, marquage retouche</p>
    </div>
  </div>


  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Année de césure à l'étranger</h3>
      <span>Mai 2017 - Mai 2018</span>
      <p>A travers plus de 10 000 kms parcourus en une année, j'ai pu découvrir en profondeur l'Australie et la Nouvelle Zélande.
Voyager m'a permis de découvrir d'autres cultures, de m'imprégner de celles ci et d'approfondir mon anglais.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Conseillère en vente - Caroll</h3>
      <span>Janvier 2017 - Mai 2017</span>
      <p>Conseil et relation client, Processus de vente, vente complémentaire ,Merchandising et vitrines, Colis, caisse, réassort, commande client, commande internet, retour, marquage retouche</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Assistante communication et marketing - Agilis</h3>
      <span>Septembre 2015 - Décembre 2016</span>
      <p>En charge de la communication interne et externe de l'entreprise.</p>
    </div>
  </div>

    <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Bachelor Resp. com. et marketing - IFC</h3>
      <span>Sept. 2015 - Juin 2016</span>
      <p>Gestion des réseaux, gestion des partenariats marques, gestion des partenariats influenceurs, création de vidéo 2D / motion design, gestion du blog, gestion des newsletters, renfort UX Design</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-left">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>Chargée de comm. et marketing - Reybaud</h3>
      <span>Avril 2014 - Juillet 2015</span>
      <p>Responsable du site internet, mise à jour du site (sous le back office MAGENTO) + référencement naturel du site, Assurer la communication externe (campagne de pub, organisation d'évènement, gérer les relations presses... )
Organisation de journées portes ouvertes, Communication de réseaux, Créations graphiques (4*3, abribus, flyer, invitation, slides site internet ...)
Création de visuels pour insertion presse (Bandeau, carré, manchette) Mise à jour de bases de données</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h3>BTS Communication - IFC</h3>
      <span>Sept. 2013 - Juin 2015</span>
      <p>Gestion des réseaux, gestion des partenariats marques, gestion des partenariats influenceurs, création de vidéo 2D / motion design, gestion du blog, gestion des newsletters, renfort UX Design</p>
    </div>
  </div>



</div>





<div class='portfolio'>
  <h2 class="titreportfolio"> PORTFOLIO </h2>
</div>

<div class='flex blog'>
  {{cardBlog.show('Refonte Medexprim','medexprim.png')}}
  {{cardBlog.show('Plaquette - VitaDrome','vitadrome.png')}}
  {{cardBlog.show('Carte de voeux - Agilis','voeux.png')}}
  {{cardBlog.show('Plaquette - Agilis','agilis.png')}}
</div>

<div class='flex blog'>
  {{cardBlog.show('Refonte TDB','tdb.png')}}
  {{cardBlog.show('Plaquette - VitaDrome','vitadrome.png')}}
  {{cardBlog.show('Hive Connect','hiveconnect.png')}}
  {{cardBlog.show('DS - Hive Connect','designsystem.png')}}
</div>

{# <h2>  your Best Value Proposition </h2>
<p class='text'>“If you don’t try this app, you won’t become the superhero you were meant to be”</p>

<div class='flex square'>
  {{cardSquare.show('Lorem ipsum dolor sit amet, consectetur adipiscing elit','Learn More')}}
  {{cardSquare.show('Lorem ipsum dolor sit amet, consectetur adipiscing elit','Learn More')}}
  {{cardSquare.show('Lorem ipsum dolor sit amet, consectetur adipiscing elit','Learn More')}}
</div>


<div class='flex post'>
  {{cardPost.show('The best way to wireframe a website or landing page')}}
</div>
#}



{#

<div class='flex footer'>
  {{footer.show('The best way to wireframe a website or landing page')}}
</div>

#}