---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>Collections</h1>

{% import "components/button.njk" as button %}
{% import "components/card-blog.njk" as cardBlog %}
{% import "components/card-pricing.njk" as cardPricing %}


  {{ button.show('plop') }}
  {{ button.show('see more') }}
  {{ button.show('coucou') }}

  <div class='flex'>
   {{cardBlog.show('titre','See More')}}
   {{cardPricing.show('titre')}}

  </div>
</div>

