{% macro show(title,nomimage) %}

<div class='card-blog'>
    <div class='card__img'>
        <img src='img/{{nomimage}}' />
    </div>
    <div class='card__desc'>
        <h2 class='desc__title'>{{title}}</h2>
        <a class="nav-item button">En savoir plus</a>
        
    </div>
</div>

{% endmacro %}

