{% macro show(title) %}

<div class='card-presentation' align: "center">
    <div class='card__img'>
    	<img src="img/melanie.png" align="center" style="float: left; padding-right:250px; padding-left:100px;"> </img>
        <h2 class='desc__presentation'>{{title}}</h2>
    </div>

    </div>
</div>

{% endmacro %}
