{% macro show(title) %}

<div class='card-presentation' align: "center">
    <div class='card__img'>
    	<img src="img/melanie.png" align="center" style="float: left; padding-right:250px; padding-left:100px;"> </img>
        <h2 class='desc__presentation'>{{title}}</h2>
        <div class='pres'>
            <p class='pres'>Je suis Mélanie, jeune UX designer en devenir. Découvrez ici mon parcours mais aussi mon portfolio. N'hésitez pas à me contacter pour collaborer ensemble ! </p>
            <a class="nav-item button">Me contacter</a>
        </div>
    </div>

    </div>
</div>

{% endmacro %}
