{% macro show(title) %}

<div class='card-pricing'>
    <div class='card__desc'>
    <div class='card__img'>
        <img src='https://www.fillmurray.com/300/360' />
    </div>
        <h2 class='desc__title'>Card pricing - sous titre</h2>
    <ul>
        <li class='liste_prices'>Prix1</li>
        <li class='liste_prices'>Prix2</li>
        <li class='liste_prices'>Prix3</li>
    </ul>
    <a class='button'>Start now</a>
    </div>
</div>

{% endmacro %}
