<header class='site-header'>
<h1 class='titre'>  Mon portfolio </h1>


    <ul class="nav">
        <li class="nav-item"><a href="#">Qui suis-je ?</a></li>
        <li class="nav-item"><a href="#">Études</a></li>
        <li class="nav-item"><a href="#">Portfolio</a></li>
        <li class="nav-item button"><a href="#">Me contacter</a></li>
    </ul>
</header>